{% extends "base.html" %}
{% block content %}
Do you love reminiscing? Knowing that you've produced an art that hundreds, thousands and/or millions have experienced and relished? 
<br>
<br>
Welcome Home!
<br>
<br>
Designed to keep track of your ventures all over Bonnie Scotland, and mapping out your next adventure. Will you be working on the next series of Outlander or the sequel to The Batman...
<br>
<br>
I hope you enjoy this app!
<br>
<br>
Kind regards,
<br>
<br>
Graeme!

</body>

{% endblock %}