<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <header> MAP MY SET 
        <h1> THIS IS YOURS! </h1>
        <nav>
            <ul class="menu">
            <li> <a href="/">Home</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/locations/new">New Location</a></li>
            </ul>
        </nav>
    </header>
    </body>
</html>