{% extends "base.html" %}
{% block content %}


<form action="/locations/{{ location.id }}" method="POST">
        </div>
    <label for="location">Name:</label>
    <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="set">Set:</label>
        <input type="text" id="set" name="set">
    </div>
    <div>
    <label for="filmed"> Filmed here?</label>
    <select id="location" name="filmed">
        <option value="true"
        {% if location.filmed == True %} selected="selected" {% endif %}>
        Aye!
    </option> 
    <option value="false"
    {% if location.filmed == False %} selected="selected" {% endif %}>
    Not yet!
    </option>
</select>
</div>
<br>

<div>
    <label for="good_climate"></label>Good Climate?</label>

<select id="location" name="good_climate">
    <option value="true"
    {% if location.good_climate == True %} selected="selected" {% endif %}>
    It was bonnie!
    </option>

    <option value="false"
    {% if location.good_climate == False %} selected="selected" {% endif %}>
    Bring yer brolly!
    </option>
</select>
</div>
<div>
    <label for="user_id"></label> What's your name? </label>
    
        <select name="user_id" id="user">
        {% for user in users %}
       <option value={{user.id}}
           {% if location.user.id == user.id %}
           
           selected="selected" {% endif %}>
           {{ user.name }}
       </option>
       {% endfor %}
          
       </select>
   </div>
<br>
<div>
<button type="submit">Enter</button>
</div>
</form>

{% endblock %}
