{% extends "base.html" %}
{% block content %}


<form action="/locations/{{ location.id }}" methods="post">
    
    <div>
    <label for="filmed"> Filmed here?</label>
    </div>
    <select id="location" name="filmed">
        <option value="true"
        {% if location.filmed == True %} selected="selected" {% endif %}>
        Aye!
    </option>
    
    <option value="false"
    {% if location.filmed == False %} selected="selected" {% endif %}>
    No yet!
    </option>
</select>

<div>
    <label for="good_climate"></label>Good Climate?</label>
</div>

<select id="location" name="good_climate">
    <option value="true"
    {% if location.good_climate == True %} selected="selected" {% endif %}>
    It was bonnie!
    </option>

    <option value="false"
    {% if location.good_climate == False %} selected="selected" {% endif %}>
    Bring yer brolly!
    </option>
</select>
<br>
<button type="submit">Enter</button>
</form>
{% endblock %}
