{% extends "base.html" %}
{% block content %}

<h1>Locations</h1>


<table>
    <tr>
        <th>Name</th>
        <th>Set</th>
        <th>Filmed?</th>
        <th>Good Climate?</th>
    </tr>
    {% for location in locations %}
    <tr>
        <td> <a href="/locations/{{ location.id }}"> {{location.name}}</a></td>
        <td>|</td>
        <td> {{ location.set }} </td>
        <td> {{ location.filmed }} </td>
        <td> {{ location.good_climate }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}