{% extends "base.html" %}

{% block content %}
<header>
    New Location
</header>
<br>
<form action="/locations" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>

    <div>
        <label for="set">Set:</label>
        <input type="text" id="set" name="set">
    </div>

<div>
    <label id="filmed" for="filmed">Filmed?</label>
    <select name="filmed" id="filmed">
        <option value="true">
            Aye!
        </option>
        <option value="False">
            Not yet!
        </option>
    </select>
</div>

<div>
    <label for="good_climate">Good Climate?</label>
    <select name="good_climate" id="good_climate">
        <option value="true">
            It was bonnie!
        </option>
        <option value="false">
            Bring yer brolly!
        </option>
    </select>
</div>


<div>
    <label for="user">User:</label>
    <select name="user_id" id="user">
        <d
    {% for user in users %}
        <option value="{{user.id}}">{{user.name}} {{user.job}}</option>
    {% endfor %}
    </select>
</div>
<div>
<button type="submit">Add location</button>
</div>
</form>


{% endblock %}